<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
        <section name="nlog.webviewer" type="NLog.WebViewer.Config, NLog.WebViewer"/>
    </configSections>
    <system.web>
        <compilation debug="true" targetFramework="4.5.1"/>
        <httpRuntime targetFramework="4.5"/>
    </system.web>
    <system.webServer>
        <handlers>
            <add name="LogsViewHandler" verb="*" path="/Logs" type="NLog.WebViewer.LogViewerHandler, NLog.WebViewer" resourceType="Unspecified" requireAccess="Read"/>
        </handlers>
    </system.webServer>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="logfile" xsi:type="File" encoding="utf-8" fileName="${basedir}/App_Data/Logs/${shortdate}.txt" layout="${longdate}|${uppercase:${level}}|${logger}|${aspnet-request:serverVariable=remote_addr}|${aspnet-user-identity}|${message}${onexception:${newline}${exception:format=tostring}}" />
        </targets>
        <rules>
            <logger name="*" minlevel="Debug" writeTo="logfile" />
        </rules>
    </nlog>
    <nlog.webviewer Fields="Date|Level|Logger|IpAddress|User|Message" Separator="|" FileFormat="{0:yyyy-MM-dd}.txt" Path="~/App_Data/Logs"/>
</configuration>